{% extends('base.html.twig') %}
{% block body %}
    <div class="my-5">
        <h2 class="my-5 float-left">Customer information</h2>
        <a href="{{ path('customer@index') }}" class="btn btn-lg btn-primary float-right my-5">go back</a>
        <div class="clearfix"></div>
    </div>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">E-mail</th>
            <th scope="col">Options</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">{{ customer.id }}</th>
                <td>{{ customer.name }}</td>
                <td>{{ customer.email }}</td>
                <td>
                    <a href="{{ path('customer@update', {id: customer.id}) }}" class="btn btn-sm btn-primary">Edit</a>
                    <a href="{{ path('customer@delete', {id: customer.id}) }}" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}